  <nav class="navbar bg-dark">
    <h1>
      <a href="index.html">
          <i class="fas fa-share-alt"></i> Expert Connectors <i class="fas fa-share-alt flip"></i>
      </a>
    </h1>
    <ul>
      <li><a href="profiles.html">Browse</a></li>
      <li><a href="register.html">Register</a></li>
      <li><a href="login.html">Login </a></li>
    </ul>
  </nav>